@import 'partials/variables';
@import 'partials/bandeau';
@import 'partials/card';
@import 'partials/event';
@import 'partials/header';
@import 'partials/carousel';
@import 'partials/lightbox';
@import 'partials/commentaire';
@import 'partials/formulaire';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 150%;
    font-family: 'Nunito Sans', sans-serif;
    color: $color1;
}

li {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.ligne {
    width: 220px;
    height: 3px;
    background-color: $color3;
    margin: 60px auto;
}

.breadcrumb {
    font-style: italic;
    font-weight: 300;
    padding: 10px 60px;
    
    a {
        margin:0 5px;

        &:hover {
            text-decoration: underline;
        }
    }

    @include mobile {
        padding: 10px 15px;
    }
}

h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;    
    text-transform: uppercase;
    color: $color3;
    padding-bottom: 15px;
    border-bottom: 3px solid $color3;
    width: fit-content;
    margin: 0 auto 30px auto;
    text-align: center;

}

h2 {
    font-family: 'Sriracha', cursive;
    font-size: 30px;
    color: $color3;
    margin: 0 auto 30px auto;
}

i {
    font-size: 16px;

}

main {
    max-width: $width;
    margin: 0 auto;
    
    @include ecran-s {
        max-width: 1200px;
    }
}

.conteneur {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 60px;
    
    p {
        margin-bottom: 20px;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    @include mobile {
        padding: 0 20px ;

        h2 {
            text-align: center;
        }
    }
}

.flex {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px;

    @include ecran-s {
        flex-direction: column;
    }

    @include mobile {
        flex-direction: column;
        align-items: center;
        padding: 0 20px ;
    }
    
}

.present{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 60px;

    .present-main {
        width: 65%;

        .artiste {
            display: flex; 
            justify-content: space-between;
        }
    }

    .present-img {
        width: 30%;

        img {
            width: 100%;
            height: auto;
            box-shadow: $shadow;
        }
    }

    .present-artiste, .present-info {
        margin: 40px 0;

        p {
            margin-bottom: auto;
        }

        .artiste {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 10px;
        }
    }

    @include mobile {
        flex-direction: column-reverse;
        padding: 0 20px ;

        h1 {
            text-align: center;
        }

        .present-main {
            width: 100%;
            margin: 20px auto;
        }

        .present-img {
            width: 100%;
        }
    }
}

.media {
    display: flex;
    justify-content: space-between;
    .video {
        width: 33%;
        iframe {
            width: 100%;
            height: 320px;
            padding: 30px 0;
        }
    }
    .carousel-mini {
        width: 65%;
    }

    @include ecran-s {
        flex-direction: column;

        .video {
            width: 100%;
            iframe {
                width: 100%;
                height: 320px;
                padding: 30px 0;
            }
        }
        .carousel-mini {
            width: 100%;
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: $color2;
    padding: 10px;
    min-width: 45px;
    min-height: 45px;
    border: 1px solid $color1;
    border-radius: 8px;
    margin: 20px 5px;

    &:hover {
        color: $color2;
        background-color: $color3;
        border: 1px solid $color3;
    }
}

.partenaire {
    text-align: center;
    border-bottom: 1px dashed $color1;
    padding: 20px;

    .partenaire-nom {
        font-size: 25px;
        font-weight: bold;
        border-bottom: 2px solid $color1;
    }

    .partenaire-desc {
        padding-bottom: 20px;
    }

    a {
        font-style: italic;
        border-left: 2px solid $color3;
        padding: 0 4px;
        transition: all 0.3s;

        &:hover {
            background-color: rgba(196, 40, 40, 0.1);
        }
    }

}

footer {
    @extend header;

    
    .footer {
    
        max-width: $width;
        display: flex;
        align-items: center;
        height: 120px;
        margin: 40px auto 0 auto;
        
        a {
            @extend a;
        }

        .logo {
            margin-left: 60px;
        }

        @include mobile {
            flex-direction: column;
            height: auto;

            .logo {
                margin-left: 0;
            }

            nav {
                display: flex;
                flex-direction: column;
            }
        }
    }

}
