

.card {
    max-width: 30%;
    text-align: center;
    background-color: $color2;
    border: 1px solid $color1;
    box-shadow: $shadow;

    @include mobile {
        max-width: 100%;
        margin-bottom: 20px;
    }

    h3 {
        font-family: 'Sriracha', cursive;
        font-size: 30px;
        color: $color3;
        padding-top: 20px;
    }
    p {
        text-align: start;
        padding: 20px;
    }
    .card-img {
        position: relative;
        bottom: 0;
        margin-top: 40px;
        overflow: hidden;
    }
    img {
        width: 100%;
        height: auto;
    }

    .card-button {
        position: absolute;
        left: 25%;
        right: 25%;
        top: 40%;
        color: $color2;
        background-color:$color1-opa;
        border: 1px solid $color2;
        border-radius: 7px;
        padding :10px;
        z-index: 3;
        transition: all 0.3s;

        &:hover {
            border: 1px solid $color3;
            background-color:$color3;
        }
    }
}