

.card {
    max-width: 350px;
    text-align: center;
    background-color: $color2;
    border: 1px solid $color1;

    h3 {
        font-family: 'Sriracha', cursive;
        font-size: 30px;
        color: $color3;
        padding-top: 20px;
    }
    p {
        text-align: start;
        padding: 20px;
    }
    .card-img {
        position: relative;
        margin-top: 40px;
    }
    img {
        width: 100%;
        height: auto;
    }

    .card-button {
        position: absolute;
        left: 25%;
        right: 25%;
        top: 40%;
        color: $color2;
        background-color:$color1-opa;
        border: 1px solid $color2;
        border-radius: 6px;
        padding :10px;
        z-index: 3;
    }
}