$color1: #000000;
$color1-opa:#00000055;
$color2: #ffffff;
$color3: #C42727;
$width: 1440px;
$shadow:5px 5px 10px rgba(195, 40, 40, 0.3);


@mixin ecran-s {
    @media screen and (max-width: 1200px) {
        @content;
      }
}

@mixin mobile {
    @media screen and (max-width: 870px) {
      @content;
    }
  }

.red {
  color: #C42727;

  &:hover {
    color: lighten(#c42727, 20);
    scale: 1.2;
  
  }
}

.green {
  color: green;

  &:hover {
    color: lighten(green, 20);
    scale: 1.2;
  }
}